In [ ]:
import requests
import pandas as pd

In [ ]:
url = 'https://dom.gosuslugi.ru/nsi/api/rest/services/nsi/fias/v4/streets?cityCode=8eeed222-72e7-47c3-ab3a-9a553c31cf72&itemsPerPage=1000&page=2&regionCode=6466c988-7ce3-45e5-8b97-90ae16cb1249'

response = requests.get(url)
result = response.json()

In [ ]:
result

In [ ]:
l =[]
for i in range(len(result)):
    street = result[i]['formalName']
    preffix = result[i]['shortName']

    l.append({
        'street':street,
        'preffix':preffix
    })

df = pd.DataFrame(l)
df

               street preffix
0      10-й Советский     пер
1      11-й Советский     пер
2                  12   платф
3      12-й Советский     пер
4      13-й Советский     пер
...               ...     ...
997            Ямская      ул
998            Янгеля      ул
999       Янки Купалы     пер
1000  Ярослава Гашека      ул
1001     Ярославского      ул

[1002 rows x 2 columns]

In [ ]:
df["street"] = df["preffix"] + ". " + df["street"]
df.drop(columns=["preffix"], inplace=True)

In [ ]:
df.drop_duplicates()

                   street
0     пер. 10-й Советский
1     пер. 11-й Советский
2               платф. 12
3     пер. 12-й Советский
4     пер. 13-й Советский
...                   ...
997            ул. Ямская
998            ул. Янгеля
999      пер. Янки Купалы
1000  ул. Ярослава Гашека
1001     ул. Ярославского

[998 rows x 1 columns]

In [ ]:
df.to_excel('streets.xlsx')